In [107]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Data preprocessing

In [108]:
# import our data
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [109]:
# take the median of bedrooms and fill na
import math
median_bedroom = math.floor(df.bedrooms.median())
df.bedrooms = df.bedrooms.fillna(median_bedroom)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

## Create a Liear Model Object

In [110]:
model = LinearRegression()

In [111]:
X = df[['area', 'bedrooms', 'age']]
y = df['price']

In [112]:
model.fit(X,y)

LinearRegression()

In [113]:
# model coefficients and intercepts
print("coefficient >", model.coef_)
print("intercept >", model.intercept_)

coefficient > [  112.06244194 23388.88007794 -3231.71790863]
intercept > 221323.0018654043

In [114]:
# making new pridictions

#new_data = [[3000 , 3, 12]]
new_data = pd.DataFrame({'area': [3000, 1000], 'bedrooms': [3, 10], 'age': [4, 16],})
prediction = model.predict(new_data)

print("predicted price = " , np.round(prediction))

predicted price =  [614750. 515567.]